/* Generated GTK Colors */
@define-color background #12121c;
@define-color error #ffb4ab;
@define-color error_container #93000a;
@define-color inverse_on_surface #302f3a;
@define-color inverse_primary #4039ff;
@define-color inverse_surface #e4e1ef;
@define-color on_background #e4e1ef;
@define-color on_error #690005;
@define-color on_error_container #ffdad6;
@define-color on_primary #1500a8;
@define-color on_primary_container #e1dfff;
@define-color on_primary_fixed #09006b;
@define-color on_primary_fixed_variant #2200e9;
@define-color on_secondary #352b4b;
@define-color on_secondary_container #e9ddff;
@define-color on_secondary_fixed #1f1635;
@define-color on_secondary_fixed_variant #4c4163;
@define-color on_surface #e4e1ef;
@define-color on_surface_variant #c7c5d3;
@define-color on_tertiary #3f2551;
@define-color on_tertiary_container #f4daff;
@define-color on_tertiary_fixed #290f3a;
@define-color on_tertiary_fixed_variant #573c69;
@define-color outline #918f9c;
@define-color outline_variant #464651;
@define-color primary #c1c1ff;
@define-color primary_container #2200e9;
@define-color primary_fixed #e1dfff;
@define-color primary_fixed_dim #c1c1ff;
@define-color scrim #000000;
@define-color secondary #cec0e8;
@define-color secondary_container #4c4163;
@define-color secondary_fixed #e9ddff;
@define-color secondary_fixed_dim #cec0e8;
@define-color shadow #000000;
@define-color source_color #7e7d93;
@define-color surface #12121c;
@define-color surface_bright #393843;
@define-color surface_container #1f1f29;
@define-color surface_container_high #292934;
@define-color surface_container_highest #34343f;
@define-color surface_container_low #1b1b25;
@define-color surface_container_lowest #0d0d17;
@define-color surface_dim #12121c;
@define-color surface_tint #c1c1ff;
@define-color surface_variant #464651;
@define-color tertiary #ddbaf0;
@define-color tertiary_container #573c69;
@define-color tertiary_fixed #f4daff;
@define-color tertiary_fixed_dim #ddbaf0;

/* Semantic Mappings */
@define-color window_bg_color #12121c;
@define-color window_fg_color #e4e1ef;
@define-color view_bg_color #12121c;
@define-color view_fg_color #e4e1ef;
@define-color headerbar_bg_color #1f1f29;
@define-color headerbar_fg_color #e4e1ef;
@define-color headerbar_border_color #918f9c;
@define-color headerbar_backdrop_color #12121c;
@define-color headerbar_shade_color #000000;
@define-color card_bg_color #1b1b25;
@define-color card_fg_color #e4e1ef;
@define-color card_shade_color #000000;
@define-color popover_bg_color #1b1b25;
@define-color popover_fg_color #e4e1ef;
@define-color popover_shade_color #000000;
@define-color dialog_bg_color #1f1f29;
@define-color dialog_fg_color #e4e1ef;
@define-color accent_color #c1c1ff;
@define-color accent_bg_color #c1c1ff;
@define-color accent_fg_color #1500a8;
@define-color destructive_color #ffb4ab;
@define-color destructive_bg_color #ffb4ab;
@define-color destructive_fg_color #690005;
@define-color success_color #ddbaf0;
@define-color warning_color #cec0e8;
@define-color error_color #ffb4ab;
